/* Botões */
.black-button {
    background-color: var(--black);
    color: var(--white);
    width: auto;
    padding: 0.5rem;
    height: auto;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    transition: all 0.2s;
    border: 0.2rem solid black;
    font-weight: bold;
}

.black-button:hover {
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

