/* Estilização geral: navbar */
#navbarSupportedContent .navbar-brand {
    font-size: 3.6rem;
    font-weight: bold;
}

nav   {
    height: 10rem;
}

.navbar-nav{
    display: flex;
    gap: 2rem;
    font-weight: 700;
    color: var(--black);
}

.navbar-nav .nav-item .nav-link{
    font-size: 1.6rem;
}

.navbar-nav .nav-item .nav-link .active{
    font-size: 1.6rem;
    color: red;
}

#cart-icon {
    background-image: url(/Site/assets/icons/carrinho-de-compras.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2.5rem;
    height: 2.5rem;
}