/* Estilização geral: navbar */
nav   {
    height: auto;
}

.navbar-nav{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    font-weight: 700;
    color: var(--black);
}

.navbar>.container-fluid>.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar>.container-fluid>button {
    outline: none;
    border: none;
}

.navbar-nav .nav-item {
    padding: 0.5rem 2rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

.navbar-nav .nav-item .nav-link{
    font-size: 1.6rem;
}

.navbar-nav .nav-item .nav-link .active{
    font-size: 1.6rem;
    color: red;
}

#cart-icon {
    background-image: url(/Site/assets/icons/carrinho-de-compras.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2.5rem;
    height: 2.5rem;
}

.navbar-default .navbar-toggle .navbar-toggler-icon {
    font-weight: bold;
}