/* Formatações Gerais */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

:root {
    --common-gray: #515052;
    --lightgray: #D9D9D9;
    --white: #FFFFFE;
    --red: #FF312E;
    --blue: #2e82ff;
    --black: #000000;
    --button-hover: #222222;
}

body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}


/* Estilização geral: navbar */
#navbarSupportedContent .navbar-brand {
    font-size: 3.6rem;
    font-weight: bold;
}

nav   {
    height: 10rem;
}

.navbar-nav .nav-item .nav-link{
    font-size: 1.6rem;
}

.navbar-nav .nav-item .nav-link .active{
    font-size: 1.6rem;
    color: red;
}

.navbar-nav{
    display: flex;
    gap: 2rem;
    font-weight: 700;
    color: var(--black);
}





/* Estilização aplicada a dispositivos com tela superior a 1920px.*/
@media (min-width: 1440px) {
    .content {
        width: 144rem;
    }
    

    /* Estilização da apresentação da compra interativa */
    #game-present{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 65rem;
    }

    #game-view {
        width: 47%;
        height: 100%;
        background-image: url(/Site/assets/banners/img-game-view.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    }
    #game-info {
        width: 47%;
        height: 100%;
        background-color: var(--lightgray);
    }


    /* Estilização geral: catálogo de produtos */
    #catalog-side {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #catalog-slider {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 100%;
        height: 70rem;
        overflow-x: hidden;
        /* white-space:nowrap; */
        border-radius: 1rem;
        
    }

    .product-card {
        display: flex;
        background-color: var(--white);
        width: 33rem;
        height: 20rem;
        border-radius: 1rem;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #F7F7F7;
    }

    .product-card:hover {
        background-color: rgba(0, 0, 0, 0.02);
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
        border: 1px solid #F7F7F7;
    }

    .product-card > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;
        gap: 1rem;
        width: 100%;
    }

    .product-card > div img {
        width: 9rem;
        height: 9rem;
        transition: all 0.3s;
        border-radius: 50%;
    }

    .product-card > div img:hover {
        background-color: var(--lightgray);
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        
    }

    .product-card > div div {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.2rem;
        width: auto;
        gap: 1rem;
    }

    .product-card > div div p {
        margin: 0px;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: var(--lightgray);
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        align-self: flex-start;
    }

    .product-card > div div input {
        border-radius: 0.5rem;
        padding: 0.5rem;
        outline: none;
        border: 1px solid var(--lightgray);
    }

    .product-card > div div h3 {
        font: bold;
        font-size: 2rem;
    }


    /* Estilização da seção de contato. */
    #contact-side {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #contact-side > div {
        display: flex;
        justify-content: space-between;
    }

    #contact-side > div iframe {
        width: 47%;
        height: auto;
        border-radius: 1rem;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    }

    #contact-box {
        width: 47%;
        height: 65rem;
        background-color: var(--lightgray);
    }


    /* Estilização do rodapé */
    footer {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        background-color: var(--lightgray);
    }

    footer > div {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    footer > div > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .social-icon{
        cursor: pointer;
    }
}



/* Estilização aplicada a dispositivos com tela entre 1024px e 1440px.*/
@media (min-width: 1024px) and (max-width: 1460px){
    .content {
        width: 102.4rem;
    }
    

    /* Estilização da apresentação da compra interativa */
    #game-present{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50rem;
    }

    #game-view {
        width: 47%;
        height: 100%;
        background-image: url(/Site/assets/banners/img-game-view.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    }
    #game-info {
        width: 47%;
        height: 100%;
        background-color: var(--lightgray);
    }


    /* Estilização geral: catálogo de produtos */
    #catalog-side {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #catalog-slider {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 100%;
        height: 50rem;
        overflow-x: hidden;
        /* white-space:nowrap; */
        border-radius: 1rem;
        
    }

    .product-card {
        display: flex;
        background-color: var(--white);
        width: 33rem;
        height: 20rem;
        border-radius: 1rem;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #F7F7F7;
    }

    .product-card:hover {
        background-color: rgba(0, 0, 0, 0.02);
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
        border: 1px solid #F7F7F7;
    }

    .product-card > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;
        gap: 1rem;
        width: 100%;
    }

    .product-card > div img {
        width: 9rem;
        height: 9rem;
        transition: all 0.3s;
        border-radius: 50%;
    }

    .product-card > div img:hover {
        background-color: var(--lightgray);
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        
    }

    .product-card > div div {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.2rem;
        width: auto;
        gap: 1rem;
    }

    .product-card > div div p {
        margin: 0px;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: var(--lightgray);
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        align-self: flex-start;
    }

    .product-card > div div input {
        border-radius: 0.5rem;
        padding: 0.5rem;
        outline: none;
        border: 1px solid var(--lightgray);
    }

    .product-card > div div h3 {
        font: bold;
        font-size: 2rem;
    }


    /* Estilização da seção de contato. */
    #contact-side {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    #contact-side > div {
        display: flex;
        justify-content: space-between;
    }

    #contact-side > div iframe {
        width: 47%;
        height: auto;
        border-radius: 1rem;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    }

    #contact-box {
        width: 47%;
        height: 50rem;
        background-color: var(--lightgray);
    }


    /* Estilização do rodapé */
    footer {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        background-color: var(--lightgray);
    }

    footer > div {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    footer > div > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .social-icon{
        cursor: pointer;
    }
}


/* Formatação da modal da lista de compras */
#modal-list {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #00000089;
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-content {
    background-color: var(--white);
    width: 128rem;
    height: 64rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Título da modal */
#modal-content h1 {
    font-size: 2.4rem;
}

/* Botão de fechamento */
#modal-content #close-list {
    position: absolute;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
    align-self: flex-end;
    right: 1rem;
    top: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--black);
    transition: color, background 0.2s;
}
#modal-content #close-list:hover {
    position: absolute;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    align-self: flex-end;
    right: 1rem;
    top: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--black);
}
#modal-content #close-list:active {
    position: absolute;
    width: 2.9rem;
    height: 2.9rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    align-self: flex-end;
    right: 1rem;
    top: 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--black);
}

#modal-content ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#modal-content ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 50%;
    height: 5rem;
    border: 2px solid var(--common-gray);
    list-style: none;
    border-radius: 0.5rem;
}

/* Botão de remover item da lista */
#modal-content ul li .btRemove {
    color: var(--white);
    background-color: var(--red);
    padding: 0.5rem;
    border: 2px solid var(--red);
    border-radius: 0.5rem;
    transition: color,background 0.2s;
}
#modal-content ul li .btRemove:hover {
    color: var(--red);
    background-color: var(--white);
    padding: 0.5rem;
    border: 2px solid var(--red);
    border-radius: 0.5rem;
}

/* Botão de adicionar mais item a lista */
#modal-content ul li .btAdd {
    color: var(--white);
    background-color: var(--blue);
    padding: 0.5rem;
    border: 2px solid var(--blue);
    border-radius: 0.5rem;
    transition: color,background 0.2s;
}
#modal-content ul li .btAdd:hover {
    color: var(--blue);
    background-color: var(--white);
    padding: 0.5rem;
    border: 2px solid var(--blue);
    border-radius: 0.5rem;
}

/* Classe que o js usa para abrir e fechar a modal */
.modal-active {
    visibility: hidden;
}




