@charset 'UTF-8';

/* Formatações Gerais */
:root {
    --common-gray: #515052;
    --lightgray: #D9D9D9;
    --white: #FFFFFE;
    --red: #FF312E;
    --blue: #2e82ff;
    --green: #2eff4a;
    --black: #000000;
    --button-hover: #222222;
}

body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 40rem;
}
    

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 3rem;
}

iframe {
    width: 100%;
    height: 30rem;
}


/* Estilização da apresentação da compra interativa */
#game-present{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    height: 70rem;
}

#game-view {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/Site/assets/banners/img-presentation.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.2rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

#game-view div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    bottom: 1rem;
    right: 1rem;
    width: 55%;
    height: 40%;
    background-color: #000000b4;
    color: var(--white);
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 500;
}

#game-info {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/Site/assets/banners/game-exemple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#game-info .white-button {
    transition: all 0.2s;
    display: flex;
    align-items: center;
    text-decoration: none;
    bottom: 1rem;
    left: 1rem;
    position: absolute;
}

#game-info .white-button div {
    width: 3rem;
    height: 3rem;
    background-image: url(/Site/assets/icons/game-control.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#game-info .white-button:hover div {
    width: 3rem;
    height: 3rem;
    background-image: url(/Site/assets/icons/game-control-white.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#game-info .white-button a {
    color: var(--black);
    text-decoration: none;
}

#game-info .white-button:hover a {
    color: var(--white);
    text-decoration: none;
}

#game-info .white-button p {
    margin: 0;
}


/* Estilização geral: catálogo de produtos */
.carousel-control-next-icon {
    background-image: url(/Site/assets/icons/next-icon.png) !important;
}
.carousel-control-prev-icon {
    background-image: url(/Site/assets/icons/prev-icon.png) !important;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 20% !important;
    height: 3.5%;
    padding: 0;
    text-align: center;
    border: 0;
    opacity: 100 !important;
    transition: opacity .15s ease;
    background-color: var(--white) !important;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

#carouselExample {
    background: linear-gradient(180deg, var(--white), var(--lightgray));
}

.carousel-inner {
    padding: 0rem 0.5rem;
}

#catalog-slider {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    overflow-x: hidden;
    border-radius: 0.2rem;
    
}

.product-card {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    width: 9rem;
    height: 25rem;
    border-radius: 0.2rem; 
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #F7F7F7;
}

.product-card>div {
    text-align: center;
}

.product-card>div button {
    margin: 0.5rem;
}
